@media screen and (min-width: 767px) {
}

@media screen and (max-width: 767px) {
    .header{
        max-width: 300px; 
    }
    .left{
        max-width: 100px;
    }
    .center_top{
        max-width: 125px;
    }
    .right{
        width: 75px;
    }
    .center_bottom{
        max-width: 200px; 
    }
    .footer{
        max-width: 300px; 
    }
}

@media screen and (max-width: 479px) {
    .header{
        max-width: 150px;
        float: none;
    }
    .left{
        max-width: 150px;
        float: none;
    }
    .top{
        max-width: 150px;
        display: block;
        float: none;
    }
    .center_top{
        max-width: 150px;
        float: none;
    }
    .right{
        width: 150px;
        float: none;
    }
    .center_bottom{
        max-width: 150px;
        float: none;
    }
    .footer{
        max-width: 150px;
        float: none;
    }
}