.header{
    background-color: #141f40;
    height: 100px;
    width: 400px;
}

.main{
    float: left;
}

.left{
    background-color: #80bfa8;
    height: 250px;
    width: 150px;
    float: left;
    }

.center_top{
    align-items: center;
}

.center1{
    background-color: #dbd400;
    height: 50px;
    width: 150px;
}

.center2{
    background-color: #0093b7;
    height: 100px;
    width: 150px;
}

.top{
    display: flex;
    flex-direction: row-reverse;
}

.right{
    background-color: #ff9e6b;
    height: 150px;
    width: 100px;
    
}

.center_bottom{
    background-color: #8c2727;
    height: 100px;
    width: 250px;
    float: left;
}

.footer{
    background-color: #d98d30;
    height: 100px;
    width: 400px;
    clear: both;
}